{% load i18n %}

<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<a class="brand" href="/">Home</a>
		<ul class="nav">
			<li><a href="{% url 'organisation-list' %}">{% trans "Organizations" %}</a></li>
			<li><a href="#">{% trans "Staff" %}</a></li>
			<li><a href="#">{% trans "Volunteers" %}</a></li>
			<li><a href="{% url 'project-list' %}">{% trans "Projects" %}</a></li>
			<li><a href="#">{% trans "Warehouses" %}</a></li>
			<li><a href="#">{% trans "Assets" %}</a></li>
			<li><a href="#">{% trans "Surveys" %}</a></li>
			<li><a href="#">{% trans "Map" %}</a></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					{% trans "More" %}
					<b class="caret"></b>
				</a>

				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					<li><a href="#">{% trans "Content Management" %}</a></li>
					<li><a href="#">{% trans "Documents" %}</a></li>
					<li><a href="#">{% trans "Vehicles" %}</a></li>
					<li><a href="#">{% trans "Requests" %}</a></li>
					<li><a href="#">{% trans "Shelters" %}</a></li>
					<li><a href="#">{% trans "Hospitals" %}</a></li>
					<li><a href="#">{% trans "Incidents" %}</a></li>
					<li><a href="#">{% trans "Disaster Victim Identification" %}</a></li>
					<li><a href="#">{% trans "Disaster Victim Registry" %}</a></li>
					<li><a href="#">{% trans "Transport" %}</a></li>
					<li><a href="#">{% trans "Cap" %}</a></li>
				</ul>
			</li>
		</ul>
		<ul class="nav pull-right">
			{% if user.is_authenticated %}
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="">
						{{ user }}
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li><a href="{% url 'logout' %}">Logout</a></li>
						<li><a href="">User Profile</a></li>
						<li><a href="">Personal Data</a></li>
						<li><a href="">Contact Details</a></li>
						<li><a href="">Change Password</a></li>
					</ul>
				</li>
			{% else %}
				<form method="post" action="{% url 'django.contrib.auth.views.login' %}?next={{ request.path }}" class="navbar-form pull-right">
					{% csrf_token %}
					<input name="username" type="text" class="input-small" placeholder="Username">
					<input name="password" type="password" class="input-small" placeholder="Password">
					<button type="submit" class="btn">{% trans 'Log in' %}</button>
				</form>
			{% endif %}
			<li><a href="{% url 'contact' %}">{% trans "Contact us" %}</a></li>
		</ul>
	</div>
</div>
