{% load i18n %}
{% load sekizai_tags %}

{% if table.rows %}
	<table class="table table-bordered table-striped datatable">
		<thead>
			<tr>
				{% if table.bulk_actions %}
					<th></th>
				{% endif %}

				{% for col in table.cols %}
					<th>{{ col.label|title }} <i></i></th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in table.rows %}
				<tr>
					{% if table.bulk_actions %}
						<td><input type="checkbox" value="{{ row.pk }}"></td>
					{% endif %}

					{% for cell in row.cells %}
						<td>
							{% if cell.url %}
								<a href="{{ cell.url }}">
							{% endif %}

							{% if cell.type in "URLField EmailField" %}
								{{ cell.value|urlize }}

							{% elif cell.type == "ManyToManyField" %}
								<ul>
									{{ cell.value.all|unordered_list }}
								</ul>

							{% else %}
								{{ cell.value }}
							{% endif %}

							{% if cell.url %}
								</a>
							{% endif %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<div>
		{% trans "No records found" %}
	</div>
{% endif %}