{% extends template_extends|default:"base_module.html" %}

{% load i18n %}
{% load sekizai_tags %}

{% block title %}form.html{% endblock %}

{% block content %}
	<form action="{{ form.html_action }}" method="POST" class="form-horizontal">
		{% csrf_token %}

		{% for field in form %}
			{% include "_form_field.html" %}
		{% endfor %}

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Save" class="btn btn-active">
			</div>
		</div>
	</form>

	{% addtoblock "js_ready" %}
		$('form select[multiple]').chosen();
	{% endaddtoblock %}
	{% addtoblock "js" %}<script src="{{ STATIC_URL }}libs/chosen/chosen/chosen.jquery.min.js" type="text/javascript"></script>{% endaddtoblock %}
	{% addtoblock "css" %}<link href="{{ STATIC_URL }}libs/chosen/chosen/chosen.css" rel="stylesheet">{% endaddtoblock %}
{% endblock %}
