div.dataTables_length select {
	width: auto;
}

div.dataTables_info {
	text-align: right;
}

div.dataTables_paginate {
	margin: 0;
	text-align: right;
}

table.table {
	margin-bottom: 6px;
	margin-top: 6px;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting i,
table.table thead .sorting_asc i,
table.table thead .sorting_desc i {
	width: 14px;
	height: 14px;
	background-image: url("/static/libs/bootstrap-2.2.2/img/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
	float: right;
}
table.table thead .sorting_asc i {
	background-position: -288px -120px;
}
table.table thead .sorting_desc i {
	background-position: -313px -119px;
}

table.dataTable th:active {
	outline: none;
}
