{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
	{% if breadcrumbs %}
		<ul class="breadcrumb">
			{% for crumb in breadcrumbs %}
				{% if crumb.menu %}
					<li class="btn-group active">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							{{ crumb.label }}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							{% for item in crumb.menu %}
								<li>
									<a href="{{ item.url }}">
										{{ item.label }}
									</a>
								</li>
							{% endfor %}
						</ul>
				{% else %}
					<li>
					{% if crumb.url %}
						<a href="{{ crumb.url }}">
					{% endif %}

					{{ crumb.label }}

					{% if crumb.url %}
						</a>
					{% endif %}
				{% endif %}

						{% if not forloop.last %}
							<span class="divider">/</span>
						{% endif %}
					</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<ul class="nav nav-list">
					{% for section in menu %}
						<li class="nav-header">{{ section.label }}</li>
						{% for item in section.items %}
							{% if item.active %}
								<li class="active">
							{% else %}
								<li>
							{% endif %}

								<a href="{{ item.url }}">{{ item.label }}</a>
							</li>
						{% endfor %}
					{% endfor %}
				</ul>
			</div>

			<div class="span10">
				{% block project_content %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}