{% extends "projects/base.html" %}

{% load i18n %}
{% load sekizai_tags %}

{% block title %}project_list.html{% endblock %}

{% block project_content %}
	<table class="table table-bordered table-striped datatable">
		<thead>
			<tr>
				<th>{% trans "Name" %}</th>
				<th>{% trans "Code" %}</th>
				<th>{% trans "Lead Implementer" %}</th>
				<th>{% trans "Sector" %}</th>
				<th>{% trans "Countries" %}</th>
				<th>{% trans "Hazards" %}</th>
				<th>{% trans "Themes" %}</th>
				<th>{% trans "Total Funding" %}</th>
				<th>{% trans "Start Date" %}</th>
				<th>{% trans "End Date" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for object in object_list %}
				<tr>
					<td>
						<a href="{% url 'project-detail' object.pk %}">{{ object.name }}</a>
					</td>
					<td>{{ object.code }}</td>
					<td>{# trans "Lead Implementer" #}</td>
					<td>{{ object.sector }}</td>
					<td>
						<ul>{{ object.countries.all|unordered_list }}</ul>
					</td>
					<td>
						<ul>{{ object.hazards.all|unordered_list }}</ul>
					</td>
					<td>
						<ul>{{ object.themes.all|unordered_list }}</ul>
					</td>
					<td>{# trans "Total Funding" #}</td>
					<td>{{ object.start_date }}</td>
					<td>{{ object.end_date }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% include "_datatables.html" %}
	{% addtoblock "js_ready" %}
		$('.datatable').dataTable(plugin_options.datatables);
	{% endaddtoblock %}
{% endblock %}