{% extends "projects/base.html" %}

{% load i18n %}

{% block title %}{{ object }}{% endblock %}

{% block project_content %}
	<div class="page-header">
		<h1>{{ object }}</h1>
	</div>
	<div class="pull-right">
		<a href="{% url 'project-detail' object.pk 'update' %}" class="btn">
			<i class="icon-edit"></i>
			{% trans "Update" %}
		</a>
	</div>

	<dl class="dl-horizontal">
		<dt>{% trans "Code" %}</dt>
		<dd>{{ object.code }}</dd>
		<dt>{% trans "Description" %}</dt>
		<dd>{{ object.description }}</dd>
		<dt>{% trans "Status" %}</dt>
		<dd>{{ object.status }}</dd>
		<dt>{% trans "Start date" %}</dt>
		<dd>{{ object.start_date }}</dd>
		<dt>{% trans "End date" %}</dt>
		<dd>{{ object.end_date }}</dd>
		<dt>{% trans "Currency" %}</dt>
		<dd>{{ object.currency }}</dd>
		<dt>{% trans "Countries" %}</dt>
			{% for country in object.countries.all %}
				<dd>{{ country }}</dd>
			{% endfor %}
		<dt>{% trans "Hazards" %}</dt>
		{% for hazard in object.hazards.all %}
			<dd>{{ hazard }}</dd>
		{% endfor %}
		<dt>{% trans "Sector" %}</dt>
		<dd>{{ object.sector }}</dd>
		<dt>{% trans "Themes" %}</dt>
		{% for theme in object.themes.all %}
			<dd>{{ theme }}</dd>
		{% endfor %}
		<dt>{% trans "Organisations" %}</dt>
		{% for organisation in object.organisations.all %}
			<dd>{{ organisation }}</dd>
		{% endfor %}
	</dl>
{% endblock %}
