{% extends "projects/base.html" %}

{% load i18n %}
{% load sekizai_tags %}

{% block title %}Tasks{% endblock %}

{% block project_content %}
	<table class="table table-bordered table-striped datatable">
		<thead>
			<tr>
				<th>{% trans "Name" %}</th>
				<th>{% trans "Type" %}</th>
				<th>{% trans "Priority" %}</th>
				<th>{% trans "Severity" %}</th>
				<th>{% trans "resolution" %}</th>
				<th>{% trans "Created" %}</th>
				<th>{% trans "Modified" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for object in object_list %}
				<tr>
					<td>
						<a href="{% url 'project-task-detail' object.pk %}">{{ object.name }}</a>
					</td>
					<td>{{ object.get_task_type_display }}</td>
					<td>{{ object.get_priority_display }}</td>
					<td>{{ object.get_severity_display }}</td>
					<td>{{ object.get_resolution_display }}</td>
					<td>{{ object.created }}</td>
					<td>{{ object.modified }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% include "_datatables.html" %}
	{% addtoblock "js_ready" %}
		$('.datatable').dataTable(plugin_options.datatables);
	{% endaddtoblock %}
{% endblock %}